{% extends "navbar.html" %}
{% block include %}
    <!-- Custom styles for this template -->
    <link href="css/portfolio-item.css" rel="stylesheet">
{% endblock %}
{% block body %}

    <!-- Page Content -->
	<div class="container start">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4">Government Tender Managemenst System
      </h1>

      <!-- Portfolio Item Row -->
      <div class="row">

	   <div class="jumbotron">	
		
		<div class="sub_text">
			<center><h2>Our allows businesses and users to access tender documents, receive notifications of procurement opportunities from the Government of India.</h2></center>
			</br>
			
			<h3>Bid & tender management</h3>
			<p>An integrated and centralized platform from plan to build. Simplify workflows, securely share documents and manage contract information in one place.</p>
			<div class="icon"><img src="https://www.aconex.com/sites/default/files/icon-increase-speed.png" alt="" />
			</div>
			<h3>Smart and streamlined</h3>
			<p>Automate the bidding process with a central system. Access from anywhere, at any time, reducing administration and increasing efficiency.</p>
			<div class="icon"><img src="https://www.aconex.com/sites/default/files/icon-security.png" alt="" />
			</div>

			<h3>Fast and secure</h3>
			<div>
			<p>Project teams can get started immediately with each submission protected by multiple layers of security and all communications confidential.</p>
			</div>
									
		</div>

      </div>

	  
	<h3 class="my-4">Meet the team</h3>  
	<div class="jumbotron">
			<figure style = "display: inline-block;">
			<img src="{{ url_for('static',filename='he.jpg') }}" alt="Avatar" style="width:200px; border-radius: 50%; margin:20px;">
			<center><figcaption>Siddhant Gupta</figcaption></center>
			</figure>
			<figure style = "display: inline-block;">
			<img src="{{ url_for('static',filename='he.jpg') }}" alt="Avatar" style="width:200px; border-radius: 50% ; margin:20px;">
			<center><figcaption>Sahil Shah</figcaption></center>
			</figure>
			<figure  style = "display: inline-block;">
			<img src="{{ url_for('static',filename='he.jpg') }}" alt="Avatar" style="width:200px; border-radius: 50%; margin:20px;">
			<center><figcaption>Shakthi M K Gowda</figcaption></center>
			</figure>
			<figure  style = "display: inline-block;">
			<img src="{{ url_for('static',filename='he.jpg') }}" alt="Avatar" style="width:200px; border-radius: 50% ; margin:20px;">
			<center><figcaption>Shishir</figcaption></center>
			</figure >
			<figure style = "display: inline-block;">
			<img src="{{ url_for('static',filename='he.jpg') }}" alt="Avatar" style="width:200px; border-radius: 50%; margin:20px;">
			<center><figcaption>Rahul  B Toggi</figcaption></center>
			</figure >
			<figure style = "display: inline-block;">
			<img src="{{ url_for('static',filename='he.jpg') }}" alt="Avatar" style="width:200px; border-radius: 50% ; margin:20px;">
			<center><figcaption>Rohan Narayan Kanuri</figcaption></center>
			</figure>
			<figure style = "display: inline-block;">
			<img src="{{ url_for('static',filename='she.png') }}" alt="Avatar" style="width:200px; border-radius: 50%; margin:20px;">
			<center><figcaption>Ravneet Taneja</figcaption></center>
			</figure>
			<figure style = "display: inline-block;">
			<img src="{{ url_for('static',filename='she.png') }}" alt="Avatar" style="width:200px; border-radius: 50% ; margin:20px;">
			<center><figcaption>Renuka S</figcaption></center>
			</figure>
	</div>	
		
		

    </div>
	  
	        

    </div>
	
	
{% endblock %}
	
