{% extends "navbar.html" %}
{% block include %}

<link rel="stylesheet" href="{{ url_for('static',filename='css/w3.css') }}">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css')}}"> 
<script type="text/JavaScript" src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>

<script type="text/javascript">
	$(document).ready(function(){
	typ = '{{ type|tojson }}'
	console.log(typ)
  console.log("{{makeBid}}")
	if(typ=='"a"'){
		//display the project status for the admin
		//marquee can be used for this 
		console.log("ALLO")
	}
	else if(typ=='"w"'){
		//display the tenders page for the admin
		document.getElementById('tenders').style.display = 'block'
		tab = document.getElementById('tentable')
		data = JSON.parse('{{ tenders }}')
		for(var i=0; i<data.length; ++i){
			tr = document.createElement('tr')
			for (var j=0; j<4; ++j){
				td = document.createElement('td')
				td.appendChild(document.createTextNode(data[i][j]))
				tr.appendChild(td)
			}
			tab.appendChild(tr)
		}
	}
	else if(typ=='"ca"'){
    //show update form
    /*
    console.log("update")
    label1 = $("<label></label>").text("Percentage work done")
    comp = $('<input></input>',{type:"text",placeholder:"Percentage work done"})
    label2 = $("<label></label>").text("Delays")
    delays = $('<input></input>',{type:"text",placeholder:"Delays"})
    label3 = $("<label></label>").text("Upload images")
    //images = $('<input></input>',{type:"file",accept:"image/*"})
    submit = $("<button></button>")
    submit.html("Submit")
    submit.click(function(){
      data1 = 
    })
    $('.data').append(label1,comp,label2,delays,submit)
    */
  }
  else{
		//Display make bid page for the contractor
		but = document.createElement('input')
		but.type = 'button'
		but.innerHTML = "MAKE BID"
		but.onclick = '' //go to make bid page
    but.style="width:50px;margin-botton:56px"
		document.getElementById('m').appendChild(but)
	}
	});
</script>

<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>

	
{% endblock %}
{% block body %}






<div class="conatiner start">
  <div class="row data">

  </div>
</div>
<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
</script>

	
{% endblock %}


