{% extends "navbar.html" %}
{% block include %}

<link rel="stylesheet" href="{{ url_for('static',filename='css/w3.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css')}}"> 
<script type="text/JavaScript" src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>

<script type="text/javascript">
	$(document).ready(function(){
	typ = '{{ type|tojson }}'
	console.log(typ)

	if(typ=='"aa"'){
		//display the project status for the admin
		document.getElementById('updates').style.display = 'block'
		var tab = document.getElementById('updtable')
		console.log('{{ updates }}')
		var data = JSON.parse('{{ updates|tojson|safe }}')
		console.log(data)
		for(var i=0; i<data.length; ++i){
			var tr = document.createElement('tr')
			for (var j=0; j<3; ++j){
				var td = document.createElement('td')
				td.appendChild(document.createTextNode(data[i][j]))
				tr.appendChild(td)
			}
			tab.appendChild(tr)
		}
	}
	else if(typ=='"aw"'){
		//display the tenders page for the admin
		document.getElementById('tenders').style.display = 'block'
		var tab = document.getElementById('tentable')
		console.log('{{ tenders }}')
		var data = JSON.parse('{{ tenders|tojson|safe }}')
		console.log(data)
		for(var i=0; i<data.length; ++i){
			var tr = document.createElement('tr')
			for (var j=0; j<4; ++j){
				var td = document.createElement('td')
				td.appendChild(document.createTextNode(data[i][j]))
				tr.appendChild(td)
			}
			tab.appendChild(tr)
		}
	}
	else if(typ=='"ca"'){
		//form for updates being displayed
		document.getElementById('makeupd').style.display = 'block'
		
	}
	else if(typ=='"cw"'){
		//Display make bid page for the contractor
		
	}
	else{
		//a normal user (not logged in) 
	});
	
	function placeUpd(){
		data1 = document.getElementById('wd').value
		data2 = document.getElementById('desc').value
		data3 = '{{project[0]}}'
		data = {'wd':data1, 'desc':data2, project:data3}
		$.ajax({
			url: "/makeUpdate",
			data:  JSON.stringify(data),
			type: "POST",
			contentType: 'application/json;charset=UTF-8',
			success: update_success,
			error: function(error) {
				console.log(error);
			}
		});
	
	}
	function update_success(){
		alert("ADDED update")
	}
</script>

<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>

	
{% endblock %}
{% block body %}




<!-- Overlay effect when opening sidebar on small screens -->

<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div id='m' class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal" style="float: left">Title :  <h2 class="w3-bar-item" style="float: right" id="title"> {{project[0]}} </h1></h1>
    </div>
  </div>
   <div class="w3-row">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal" style="float: left">State :  <h2 class="w3-bar-item" style="float: right" id="state"> {{project[2]}}</h1></h1>
    </div>
  </div>

   <div class="w3-row">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal" style="float: left">District : <h2 class="w3-bar-item" style="float: right" id="address"> {{project[3]}}</h2></h1>
    </div>
  </div>


  <div class="w3-row">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal" style="float: left">Project category :</h1>
      <h2 class="w3-bar-item" style="float: right" id="project">{{project[4]}}</h2>
    </div>
  </div>

     <div class="w3-row">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal" style="float: left">Bid start-date :</h1>
      <h2 class="w3-bar-item" style="float: right" id="bid_start">{{project[5]}}</h2>
    </div>
  </div>

  <div class="w3-row">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal" style="float: left">Bid end-date :</h1>
      <h2 class="w3-bar-item" style="float: right" id="bid_end">{{project[6]}}</h2>
    </div>
  </div>

  <div class="w3-row w3-padding-24">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Description :</h1>
      <p class="w3-bar-item" id="description" >{{project[7]}}</p>
    </div>
  </div>
  
  <div style='display:none' id='tenders' class="container">
    <h2>Tenders</h2>
    <p>The tenders to this project are displayed here</p>            
    <table class="table table-striped">
    <thead>
      <tr>
      <th>Tender ID</th>
      <th>Amount</th>
      <th>Pub Date</th>
      <th>Last Date</th>
    </thead>
    <tbody id='tentable'>
      
    </tbody>
    </table>
  </div>
  <div style='display:none' id='updates' class="container">
    <h2>Updates</h2>
    <p>The updates of this project are displayed here</p>            
    <table class="table table-striped">
		<thead>
		  <tr>
		  <th>Dates</th>
		  <th>Percentage</th>
		  <th>Delay</th>

		</thead>
		<tbody id='updtable'>
			
		</tbody>
    </table>
  </div>
	<div style='display:none' id='makeupd' class="container">
	<h3>MAKE PROJECT UPDATES</h3>
	 <form>
		<div class="form-group">
		<label for="percentage">Work Done Percentage</label>
		<input type="text" id="wd"  placeholder="%" >
		</div>
		<div class="form-group">
		<label >Description/Problems faced</label>
		<input type="text" id="desc"  placeholder="Description">
	  </div>
		<input type="button" value="Submit" class="btn btn-default" onclick="placeUpd()"></br></br>
	</div>
  
  
  <br><br><br>
 

<!-- END MAIN -->
</div>

<div class="conatiner start">
  <div class="row data">

  </div>
</div>
<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
</script>

	
{% endblock %}


